<div id="portfoliowrap">
        <h3>THIS THING HAS FEATURES !!</h3>


        <div class="portfolio-centered">
              <div class="recentitems portfolio isotope" style="position: relative; overflow: hidden; height: 250px;">
                <!-- HELP -->
  				<div class="portfolio-item graphic-design isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px); width: 336px;">
  					<div class="he-wrap tpl6">
  					<img src="assets/img/sos_icon.png" alt="">
  						<div class="he-view">
  							<div class="bg a0" data-animate="fadeIn">
                                  <h3 class="a1" data-animate="fadeInDown">HELP !!!</h3>
                                  <a data-rel="prettyPhoto" href="assets/img/demogif/help.gif" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-video-camera"></i></a>
                          	</div><!-- he bg -->
  						</div><!-- he view -->
  					</div><!-- he wrap -->
  				</div><!-- end col-12 -->
        <!-- PUBLIC -->
          <div class="portfolio-item web-design isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(336px, 0px, 0px); width: 336px;">
              <div class="he-wrap tpl6">
  					<img src="assets/img/megaphone.png" alt="">
  						<div class="he-view">
  							<div class="bg a0" data-animate="fadeIn">
                                  <h3 class="a1" data-animate="fadeInDown">Make it Public.</h3>
                                  <a data-rel="prettyPhoto" href="assets/img/demogif/public.gif" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-video-camera"></i></a>
                          	</div><!-- he bg -->
  						</div><!-- he view -->
  					</div><!-- he wrap -->
  				</div><!-- end col-12 -->
        <!-- SFW -->
                  <div class="portfolio-item graphic-design isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(672px, 0px, 0px); width: 336px;">
                      <div class="he-wrap tpl6">
  					<img src="assets/img/sfw.jpg" alt="">
  						<div class="he-view">
  							<div class="bg a0" data-animate="fadeIn">
                                  <h3 class="a1" data-animate="fadeInDown">Safe For Work (SFW)</h3>
                                  <a data-rel="prettyPhoto" href="assets/img/sfw.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-video-camera"></i></a>
                          	</div><!-- he bg -->
  						</div><!-- he view -->
  					</div><!-- he wrap -->
  				</div><!-- end col-12 -->
          <!-- RANDOM -->
                  <div class="portfolio-item graphic-design isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(1008px, 0px, 0px); width: 336px;">
                      <div class="he-wrap tpl6">
  					<img src="assets/img/die.png" alt="">
  						<div class="he-view">
  							<div class="bg a0" data-animate="fadeIn">
                                  <h3 class="a1" data-animate="fadeInDown">Make it random.</h3>
                                  <a data-rel="prettyPhoto" href="assets/img/die.png" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-video-camera"></i></a>
                          	</div><!-- he bg -->
  						</div><!-- he view -->
  					</div><!-- he wrap -->
  				</div><!-- end col-12 -->
          <!-- SOUND CLIPS -->
                  <div class="portfolio-item books isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(1344px, 0px, 0px); width: 336px;">
                      <div class="he-wrap tpl6">
  					<img src="assets/img/kitten_headphones.png" alt="">
  						<div class="he-view">
  							<div class="bg a0" data-animate="fadeIn">
                                  <h3 class="a1" data-animate="fadeInDown">Sound Clips</h3>
                                  <a data-rel="prettyPhoto" href="assets/img/kitten_headphones.png" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-video-camera"></i></a>
                          	</div><!-- he bg -->
  						</div><!-- he view -->
  					</div><!-- he wrap -->
  				</div><!-- end col-12 -->

              </div><!-- portfolio -->
          </div>
	 </div><!--/Portfoliowrap -->
