<div id="footerwrap">
 <div class="container">
   <div class="row center">
     <div id="contact" class="col-lg-6 col-lg-offset-3">
       <h4>Contact the Creator</h4>
       <div class="hline-w"></div>
       <p>Feel free to contact me regarding any bugs, feature requests, help, support and general questions via one of the following channels:</p>
       <p>
          <a href="https://angel.co/matija-abicic" target="_blank"><i class="fa fa-angellist"></i></a>
         <a href="https://www.facebook.com/matijaabicic"><i class="fa fa-facebook"></i></a>
         <a href="https://www.github.com/matijaabicic"><i class="fa fa-github"></i></a>
         <a href="https://www.instagram.com/matijaabicic" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/matija-abicic-9ba86214" target="_blank"><i class="fa fa-linkedin"></i></a>
         <a href="https://www.twitter.com/matijaabicic" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://www.producthunt.com/@matijaabicic" target="_blank"><i class="fa fa-product-hunt"></i></a>
          <a href="mailto:matija.abicic+urbanslack@gmail.com"><i class="fa fa-envelope"></i></a>
       </p>
     </div>
   </div><! --/row -->
 </div><! --/container -->
</div><! --/footerwrap -->
