<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>Urban</title>

    <!-- Add FontAwesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <!--<link href="assets/css/font-awesome.min.css" rel="stylesheet">-->

    <!-- Mailchimp embedded control -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">



    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="assets/js/modernizr.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script> <script type="text/javascript" src="https://blockchain.info/Resources/js/pay-now-button.js"></script>
</head>

<body>

    <!-- *****************************************************************************************************************
  	 HEADER navbar -->

    <% include ./partial/header %>

        <!-- ***************************************************************************************************************** -->

        <!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->
        <div id="headerwrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h1>URBAN</h1>
                        <h5>Urban Dictionary Slack Bot</h5>
                        <br/>
                        <a href="https://slack.com/oauth/authorize?scope=commands&client_id=13455138151.25936209731"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"
                            /></a>
                        <br/>
                        <br/>
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup">
                            <form action="//tumblr.us7.list-manage.com/subscribe/post?u=57001329191ed1b638ed13ac6&amp;id=1b0906b8a3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <label for="mce-EMAIL" style="color:white">Subscribe to our mailing list and be the first to learn about product updates</label>
                                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                        <input type="text" name="b_57001329191ed1b638ed13ac6_1b0906b8a3" tabindex="-1" value="">
                                    </div>
                                    <div class="clear">
                                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--End mc_embed_signup-->
                        <br/>

                    </div>
                    <div class="col-lg-8 col-lg-offset-2 himg">
                        <img src="assets/img/slack.png" class="img-responsive">
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /headerwrap -->
        <br/>
        <br/>

        <!-- *****************************************************************************************************************
	 SERVICE LOGOS
	 ***************************************************************************************************************** -->
        <div id="service">
            <div class="container">
                <div class="row centered">
                  <div class="col-md-6 col-md-offset-3">
                    <blockquote>
                      <p><%= latestQuery %></p>
                      <footer>Latest definition lookup by Slack user community.</footer>
                    </blockquote>
                    </div>
                </div>
                <div class="row centered">
                    <div class="col-md-4">
                        <i class="fa fa-flask"></i>
                        <h4>Urban</h4>
                        <p>Urban is your Urban Dictionary Slack bot. Use /urban command to decipher all the pop-culture references your team colleagues throw around Slack channels ever so freely, assuming that everyone understands them.</p>
                        <p>
                            <br/><a href="/howto" class="btn btn-theme">How to use Urban</a></p>
                    </div>
                    <div class="col-md-4">
                        <i class="fa fa-slack"></i>
                        <h4>Add to Slack</h4>
                        <p>Urban is super-easy to add to your slack team. Hit the add-to-slack button, authorize your team to use Urban and you can start using /urban command within seconds inside your Slack team.</p>
                        <p>
                            <br/>
                            <a href="https://slack.com/oauth/authorize?scope=commands&client_id=13455138151.25936209731"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"
                                /></a>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <i class="fa fa-github"></i>
                        <h4>Bugs and feature requests</h4>
                        <p>Urban is an open-source project under MIT license. Report bugs, submit feature request and contribute to the project at GitHub. All ideas suggestions and pull requests are more than welcome :)</p>
                        <p>
                            <br/><a href="https://www.github.com/matijaabicic/urban-slack/issues" target="_blank" class="btn btn-theme">View on GitHub</a></p>
                    </div>
                </div>
            </div>
            <! --/container -->
        </div>
        <! --/service -->

<!-- Bitcoin donation -->

        <div class="container">
          <div class="row-centered">
            <div class="col-md-6 col-md-offset-3">
              <div style="font-size:16px;margin:0 auto;width:300px" class="blockchain-btn" data-address="14WYJPQar36j6Yk5ZYPfLDtKSywXJ6S4kh" data-shared="false">
                <div class="blockchain stage-begin"> <img src="https://blockchain.info/Resources/buttons/donate_64.png"/> </div>
                <div class="blockchain stage-ready">
                  <p align="center">Please Donate To Bitcoin Address: <b>[[address]]</b></p> <p align="center" class="qr-code"></p>
                </div>
                <div class="blockchain stage-paid"> Donation of <b>[[value]] BTC</b> Received. Thank You. </div>
                <div class="blockchain stage-error"> <font color="red">[[error]]</font> </div>
              </div>
            </div>
          </div>
        </div>

        <!-- *****************************************************************************************************************
   FEATURE GALLERY
   ***************************************************************************************************************** -->
        <% include ./partial/featureGallery %>

            <!-- ***************************************************************************************************************** -->

            <!-- *****************************************************************************************************************
	 FOOTER -->

            <% include ./partial/footer %>

                <!-- ***************************************************************************************************************** -->


                <!-- Bootstrap core JavaScript
    ================================================== -->
                <!-- Placed at the end of the document so the pages load faster -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
                <script src="assets/js/bootstrap.min.js"></script>
                <script src="assets/js/retina-1.1.0.js"></script>
                <script src="assets/js/jquery.hoverdir.js"></script>
                <script src="assets/js/jquery.hoverex.min.js"></script>
                <script src="assets/js/jquery.prettyPhoto.js"></script>
                <script src="assets/js/jquery.isotope.min.js"></script>
                <script src="assets/js/custom.js"></script>

                <script>
            // Portfolio
            (function($) {
            	"use strict";
            	var $container = $('.portfolio'),
            		$items = $container.find('.portfolio-item'),
            		portfolioLayout = 'fitRows';

            		if( $container.hasClass('portfolio-centered') ) {
            			portfolioLayout = 'masonry';
            		}

            		$container.isotope({
            			filter: '*',
            			animationEngine: 'best-available',
            			layoutMode: portfolioLayout,
            			animationOptions: {
            			duration: 750,
            			easing: 'linear',
            			queue: false
            		},
            		masonry: {
            		}
            		}, refreshWaypoints());

            		function refreshWaypoints() {
            			setTimeout(function() {
            			}, 1000);
            		}

            		$('nav.portfolio-filter ul a').on('click', function() {
            				var selector = $(this).attr('data-filter');
            				$container.isotope({ filter: selector }, refreshWaypoints());
            				$('nav.portfolio-filter ul a').removeClass('active');
            				$(this).addClass('active');
            				return false;
            		});

            		function getColumnNumber() {
            			var winWidth = $(window).width(),
            			columnNumber = 1;

            			if (winWidth > 1200) {
            				columnNumber = 5;
            			} else if (winWidth > 950) {
            				columnNumber = 4;
            			} else if (winWidth > 600) {
            				columnNumber = 3;
            			} else if (winWidth > 400) {
            				columnNumber = 2;
            			} else if (winWidth > 250) {
            				columnNumber = 1;
            			}
            				return columnNumber;
            			}

            			function setColumns() {
            				var winWidth = $(window).width(),
            				columnNumber = getColumnNumber(),
            				itemWidth = Math.floor(winWidth / columnNumber);

            				$container.find('.portfolio-item').each(function() {
            					$(this).css( {
            					width : itemWidth + 'px'
            				});
            			});
            		}

            		function setPortfolio() {
            			setColumns();
            			$container.isotope('reLayout');
            		}

            		$container.imagesLoaded(function () {
            			setPortfolio();
            		});

            		$(window).on('resize', function () {
            		setPortfolio();
            	});
            })(jQuery);
            </script>

                <script>
                    (function(i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r;
                        i[r] = i[r] || function() {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                        a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0];
                        a.async = 1;
                        a.src = g;
                        m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                    ga('create', 'UA-74299720-1', 'auto');
                    ga('send', 'pageview');
                </script>
</body>

</html>
